fastapi
uvicorn
python-dotenv
google-generativeai
langchain
langchain-google-genai
langchain-community
chromadb
faiss-cpu
pymysql
sqlalchemy
pandas
numpy
pydantic
python-multipart
cryptography
scikit-learn
pyaudio
google-cloud-speech
speech-recognition
pyaudio
google-cloud-speech
openai-whisper
pydub